<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button mat-raised-button class="mb-8" color="primary"
    (click)="openPopUp({}, true)">Agregar</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <table mat-table [dataSource]="contactDataSource" matSort class="w-100">
      <ng-container matColumnDef="option" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opción</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Opción: "
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            matTooltip="Desplegar"
            matTooltipPosition="right"
            mat-stroked-button
            color="accent"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after">
            <button *ngIf="row.sstate != 1" mat-menu-item (click)="openPopUp(row)">
              <mat-icon color="accent">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button *ngIf="row.sstate != 1" mat-menu-item (click)="deleteItem(row)">
              <mat-icon color="accent">block</mat-icon>
              <span>Anular</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Id : "
        >
          {{ row.id  }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Nombre : "
        >
          {{ row.name | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Cargo : "
        >
          {{ row.position | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Teléfono : "
        >
          {{ row.phone | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Motivo : "
        >
          {{ row.reason | titlecase }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="has_label_on_mobile"
          data-label="Estado : "
        >
          
          <mat-chip mat-sm-chip selected
            [class]="row.active == true ?  'dark-blue-400 dark-blue-400-fg' :  'dark-blue-100'">
            {{row.active ? 'Activo' : 'Inactivo'}}
          </mat-chip>
        </td>
      </ng-container>
      
      
      


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ 'make-gris': !row.state }"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="7">
          No se encontro Contactos
        </td>
      </tr>
    </table>
    
    <!-- <mat-paginator #paginator [length]="contactFilter.pagination.totalItems" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator> -->


    <div style="display: flex;
    justify-content: center;
    align-items: center;">
      
      <!-- <span>Regresar</span> -->
      <mat-paginator
      style-paginator
      showFirstLastButtons
      [showTotalPages]="3"
      (changedPageNumber)="changedPageNumber($event)"
      #paginator
      [pageIndex]="currentPage"
      [length]="contactFilter.pagination.totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="changedPageSize($event)">
      </mat-paginator>
      <!-- <span style="padding-left: 15px;">Avanzar</span> -->
    </div>


  </mat-card-content>
</mat-card>