#tblLista {
    border-collapse: collapse !important;
    width: 100%;
    border-spacing: 0 !important;
    font-family: "Nunito" !important;

    display: table;

    text-indent: initial;
    border-color: grey;
    font-size: 14px;

    


  th {
    text-align: center;
    font-size: 12px;
    

     position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  }
  th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 450px;
    z-index: 1;
  }

    // td {
    //     font-size: 11px;
    //     padding-left: 4px;
    // }

    thead {
        background: inherit;
        box-sizing: border-box;
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            th {
                background: #8CACDA !important;
                color: #F9F9F9 !important;
                font-size: 14px;
                font-weight: 500;
                font-family: Nunito;
            }
            height: 45px !important;


            
                    th {
                        text-align: center;
                        font-size: 12px;
                        

                        position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    z-index: 2;
                    }
                    th[scope=row] {
                        position: -webkit-sticky;
                        position: sticky;
                        left: 450px;
                        z-index: 1;
                    }
        }
    }

    tbody {

        background: inherit;
        box-sizing: border-box;
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            height: 48px;
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            box-sizing: border-box;
            background: inherit;

            td {
                font-size: 14px;
                font-weight: 500;
                font-family: Nunito;
                font: 400 14px/20px "Nunito" !important;
                letter-spacing: normal;
                left: 0px;
                z-index: 1;
                padding-left: 24px !important;
                border-bottom-color: rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.87);
                background: inherit;
                padding: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                display: table-cell;
                vertical-align: inherit;
            }
        }

        tr:nth-child(even) td {
            background: #F9F9F9;
        }

        tr:nth-child(odd) td {
            background: #EEF4F8;
        }

    }

}

#tblLista-res {
    border-collapse: collapse !important;
    width: 100%;
    border-spacing: 0 !important;
    font-family: "Nunito" !important;

    display: table;

    text-indent: initial;
    border-color: grey;
    font-size: 12px;

  th {
    text-align: center;
    font-size: 12px;
    

     position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  }
  th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 450px;
    z-index: 1;
  }

    // td {
    //     font-size: 11px;
    //     padding-left: 4px;
    // }

    thead {
        background: inherit;
        box-sizing: border-box;
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            th {
                background: #8CACDA !important;
                color: #F9F9F9 !important;
                font-size: 12px;
                font-weight: 500;
                font-family: Nunito;
            }
            height: 45px !important;


            
                    th {
                        text-align: center;
                        font-size: 12px;
                        

                        position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    z-index: 2;
                    }
                    th[scope=row] {
                        position: -webkit-sticky;
                        position: sticky;
                        left: 450px;
                        z-index: 1;
                    }
        }
    }

    tbody {

        background: inherit;
        box-sizing: border-box;
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
            height: 48px;
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            box-sizing: border-box;
            background: inherit;

            td {
                font-size: 12px;
                font-weight: 500;
                font-family: Nunito;
                font: 400 12px/20px "Nunito" !important;
                letter-spacing: normal;
                left: 0px;
                z-index: 1;
                padding-left: 14px !important;
                border-bottom-color: rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.87);
                background: inherit;
                padding: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                display: table-cell;
                vertical-align: inherit;
            }
        }

        tr:nth-child(even) td {
            background: #F9F9F9;
        }

        tr:nth-child(odd) td {
            background: #EEF4F8;
        }

    }

}


.headergris{
     background-color:  #F2F2F2;
}
.columnaenblanco{
    width: 20px;
    border-top: none !important;
    border-bottom: none !important;
}
.headerceleste{
    background-color: #DEEAF6;
}
.headeramarillo{
    background-color: #FFF2CB;
}
.headerverdeclaro{
    background-color: #E2EEDA;
}
.headerveroscuro{
    background-color: #A9CD90;
}
.rowgroupclass{
    background-color:#d9d9d9 !important;
    color: black;
    font-weight: bold !important;
    text-align: center;
    td{
        font-weight: bold !important;
    }
}
.inputs {
    display: flex;
    gap: 20px;
  
    mat-form-field {
      width: 100%;
    }
}