.header {
    padding: 10px;
    text-align: center;
    h1 {
        color: #4f66a8;
    }   
}

.combos {

}

.file-input {
  display: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    button {
        background-color: #4f66a8;
        color: #ffffff;
    }
}

.inptus__address {
    display: flex;
    flex-direction: column;
    mat-form-field {
      width: 90%;
    }
    &__group {
      display: flex;
      gap: 10px
    }
    &__button {
      display: flex; 
      gap: 10px;
      justify-content: end;
      margin-bottom: 10px;
    }
  }

  .input_phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    mat-form-field {
      width: 30%;
    }
    &__button {
      display: flex; 
      gap: 10px;
      justify-content: end;
    }
  }



  .flex-container {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 960px) {
    .flex-container {
      flex-direction: column;
    }

    .input_phone {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      mat-form-field {
        width: 100%;
      }
      &__button {
        display: flex; 
        gap: 10px;
        justify-content: end;
      }
    }
  }