<div class="content">
  <form [formGroup]="itemForm">
    <div class="header">
      <h1>SOLICITUD DE {{data.title | uppercase}}</h1>
    </div>
    <hr>

    <div class="personal">
      <h1 class="title">1. DATOS PERSONALES: </h1>
      <div class="personal__group">
        <div class="personal__group-input">
          <label class="size-large">Código del Empleado: </label>
          <span> {{ codeEmployee }} </span>
        </div>
        <div class="personal__group-input">
          <label class="size-short">DNI N*: </label>
          <span> {{dni }} </span>
        </div>
      </div>
      <div class="personal__group">
        <div class="personal__group-name">
          <label>Nombres y Apellidos: </label>
          <span> {{ fullname }} </span>
        </div>
      </div>
      <div class="personal__group">
        <div class="personal__group-input">
          <label class="size-large">Fecha de Ingreso: </label>
          <span> {{ dateAdmission }} </span>
        </div>
        <div class="personal__group-input">
          <label class="size-short">Área: </label>
          <span> {{ area }} </span>
        </div>
      </div>
      <div class="personal__group">
        <div class="personal__group-name">
          <label class="size-large">Cargo: </label>
          <span> {{charge }} </span>
        </div>
      </div>
    </div>

    <div class="motivo">
      <h1 class="title">2. DATOS DE LA SOLICITUD: </h1>

      <div *ngIf="idTypeStaffRequest === 6" class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Tipo de Ausencia: </label>
        <mat-form-field class="size-input">
          <mat-label>Tipo de Ausencia</mat-label>
          <input matInput name="TypeAbsence" [formControl]="itemForm.controls['typeAbsence']"
            placeholder="Tipo de Justificación" readonly>
        </mat-form-field>
      </div>

      <div class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Sustento: </label>
        <mat-form-field class="size-input">
          <input readonly matInput name="Suport" maxlength="250" [formControl]="itemForm.controls['support']"
            placeholder="Sustento">
        </mat-form-field>
      </div>

      <div class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Fecha del Permiso: </label>
        <mat-form-field class="size-input">
          <input matInput readonly [matDatepicker]="pickerPermitDate"  name="DateAbsence" *ngIf="data.payload.idTypeStaffRequest == 6"
            [formControl]="itemForm.controls['dateAbsence']" placeholder="Fecha del Permiso">
            <input matInput readonly [matDatepicker]="pickerPermitDate"  name="tardinessDate" *ngIf="data.payload.idTypeStaffRequest == 7"
              [formControl]="itemForm.controls['tardinessDate']" placeholder="Fecha del Permiso">

          <!-- <mat-datepicker-toggle matSuffix [for]="pickerPermitDate" disabled></mat-datepicker-toggle>
          <mat-datepicker #pickerPermitDate></mat-datepicker>
          <mat-error *ngIf="
          itemForm.controls.dateAbsence.touched &&
          itemForm.controls.dateAbsence.invalid
                                ">
            <span *ngIf="itemForm.controls.dateAbsence.errors.required">La fecha del permiso es
              <strong>requerido</strong>
            </span>
          </mat-error> -->
        </mat-form-field>
      </div>


      <div class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Hora de inicio: </label>
        <mat-form-field class="size-input">
          <input readonly matInput name="startTime" [formControl]="itemForm.controls['startTime']"
            placeholder="Hora de Inicio">
          <!-- <mat-error *ngIf="
            itemForm.controls.startTime.touched &&
            itemForm.controls.startTime.invalid
                                  ">
            <span *ngIf="itemForm.controls.startTime.errors.required">La hora de inicio es
              <strong>requerido</strong>
            </span>
          </mat-error> -->
        </mat-form-field>
      </div>

      <div class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Hora Fin: </label>
        <mat-form-field class="size-input">
          <input matInput readonly name="endTime" [formControl]="itemForm.controls['endTime']"
            placeholder="Hora Fin">
          <!-- <mat-error *ngIf="
            itemForm.controls.endTime.touched &&
            itemForm.controls.endTime.invalid
                                  ">
            <span *ngIf="itemForm.controls.endTime.errors.required">La hora fin es
              <strong>requerido</strong>
            </span>
          </mat-error> -->
        </mat-form-field>
      </div>

      <div class="adjunto">
        <mat-label class="size-large" style="font-weight: bold;align-self: center;">Adjuntar Archivo:</mat-label>
        <div class="button_download">
          <!-- <p>{{ nameFile }}</p> -->
          <button style="margin-left: 5px;" mat-mini-fab (click)="ViewAdjunto()" class="upload-btn">
            <mat-icon style="color: #536BB2;">get_app</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="motivo">
      <h1 class="title">HISTORIAL DE SOLICITUD: </h1>
      <app-staff-request-approver style="width: 50%;text-align: center;"></app-staff-request-approver>
    </div>
    <div class="motivo">
      <h1 class="title">COMENTARIO DE EVALUACIÓN: </h1>
      <div class="motivo__amount">
        <label class="size-large" style="font-weight: bold;">Comentario: </label>
        <mat-form-field class="size-input">
          <mat-label>Comentario</mat-label>
          <textarea maxlength="2000" matInput placeholder="" formControlName="commentEvaluation" [readonly]="readOnlyView"></textarea>          
        </mat-form-field>
      </div> 
    </div>
    <div class="footer">
      <button *ngIf="!readOnlyView && !isAceeptOrRejected" mat-raised-button
        style="background-color: #cddcea;color:#343a67;" type="button" (click)="approveRequest()">
        Aprobar</button>
      <button *ngIf="!readOnlyView && !isAceeptOrRejected" mat-raised-button
        style="background-color: #f44336; color: white;" type="button" (click)="rejectRequest()">
        Rechazar</button>
      <button mat-raised-button color="primary" type="button"
        (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </form>
</div>



