<p></p>
<!-- <p-table mat-table [value]="infofamily" dataKey="id" editMode="row" responsiveLayout="scroll"> -->
<div style="overflow: auto; white-space: nowrap;">
    <p-table mat-table [value]="infofamily" dataKey="id" editMode="row" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th class="mat-header-cell-x" style="text-align: center;" *ngIf="!isReadOnly">Acción</th>
                <th class="mat-header-cell-x" style="text-align: center;">Parentesco</th>
                <th class="mat-header-cell-x" style="text-align: center;">Nombres</th> 
                <th class="mat-header-cell-x" style="text-align: center;">Apellido Paterno</th> 
                <th class="mat-header-cell-x" style="text-align: center;">Apellido Materno</th> 
                <th class="mat-header-cell-x" style="text-align: center;">Fecha de nacimiento</th>
                <th class="mat-header-cell-x" style="text-align: center;width: 350px;">Tipo Documento</th>
                <th class="mat-header-cell-x" style="text-align: center;">Nro. Documento</th>
                <th class="mat-header-cell-x" style="text-align: center; width: 200px !important;">DNI o Partida</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing" let-index="rowIndex">
            <tr [pEditableRow]="item">
                <td style="text-align:center; padding: auto !important;" *ngIf="!isReadOnly">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                        (click)="onRowEditInit(item, index)" class="p-button-text editar init-edit">
                        <svg fill="orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/></svg>
                    </button>    
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(item, '', index)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(item, index)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                        (click)="deleteRow(index)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </td> 
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <!-- <input style="font-family: Nunito;font-size: 14px;" pInputText type="text" [(ngModel)]="item.familyType"> -->
                            <mat-select [(ngModel)]="item.familyType"  aria-placeholder="Parentesco" style="width: 140px !important;">
                                <mat-option *ngFor="let fam of familytypelist" [value]="fam.code">{{fam.description}}</mat-option>
                            </mat-select>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <!-- <input style="font-family: Nunito;font-size: 14px;" disabled pInputText type="text" [(ngModel)]="item.familyType"> -->
                            <mat-select [(ngModel)]="item.familyType" disabled  aria-placeholder="Parentesco" style="width: 140px !important;">
                                <mat-option *ngFor="let fam of familytypelist" [value]="fam.code">{{fam.description}}</mat-option>
                              </mat-select>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input1" style="width: 140px !important;" pInputText type="text" [(ngModel)]="item.fullName" placeholder="Nombres">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <input class="input1" style="width: 140px !important;" disabled pInputText type="text" [(ngModel)]="item.fullName" placeholder="Nombres">
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input2" style="width: 140px !important;" pInputText type="text" [(ngModel)]="item.lastName" placeholder="Apellido Paterno">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <input class="input2" style="width: 140px !important;" disabled pInputText type="text" [(ngModel)]="item.lastName" placeholder="Apellido Paterno">
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input2" style="width: 140px !important;" pInputText type="text" [(ngModel)]="item.motherLastName" placeholder="Apellido Materno">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <input class="input2" style="width: 140px !important;" disabled pInputText type="text" [(ngModel)]="item.motherLastName" placeholder="Apellido Materno">
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input3" pInputText type="date" [(ngModel)]="item.birthDate">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <input class="input3" disabled pInputText type="date" [(ngModel)]="item.birthDate">
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <!-- <input style="font-family: Nunito;font-size: 14px;" pInputText type="text" [(ngModel)]="item.familyType"> -->
                            <mat-select [(ngModel)]="item.typeDocument"  aria-placeholder="Tipo Documento" style="width: 120px !important;" (selectionChange)="onchangeDocumentSelect(item)">
                                <mat-option *ngFor="let t of typedocumentlist" [value]="t.sshort_value">{{t.sdescription_value}}</mat-option>
                              </mat-select>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <!-- <input style="font-family: Nunito;font-size: 14px;" disabled pInputText type="text" [(ngModel)]="item.familyType"> -->
                            <mat-select [(ngModel)]="item.typeDocument" disabled  aria-placeholder="Parentesco" style="width: 120px !important;">
                                <mat-option *ngFor="let t of typedocumentlist" [value]="t.sshort_value">{{t.sdescription_value}}</mat-option>
                              </mat-select>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input4" pInputText type="text" [(ngModel)]="item.documentNumber"
                             maxlength="8" (keypress)='valideKey($event)'  placeholder="Nro. Documento">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <input class="input4" disabled pInputText type="text" [(ngModel)]="item.documentNumber" [maxlength]="maxlenghDoc"  
                            (keypress)='valideKey($event)'
                            placeholder="Nro. Documento"
                            >
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="width: 200px !important; text-align: center;">
                    <app-documento-adjunto [idfile]="item.informationFile?.nidinformationfile" 
                    [path_file]="item.informationFile?.path_complete" [name_file]="item.informationFile?.snamefile" 
                    [type_file]="tipoFile_DocumentoCopiaDNI" 
                    (updateDocument)="CargarDocumento($event,item.id,index)" [disabled_row]="isDisabledRow(item)"
                     [class.required-document]="validateShowErrorFile(item)"></app-documento-adjunto>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<button mat-raised-button color="primary" style="margin-top: 15px;" (click)="addRow()" type="button" *ngIf="!isReadOnly">
    <i class="pi pi-plus-circle" style="padding-bottom: 3px !important;"></i>&nbsp;&nbsp;Agregar</button>
