<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-16" >
      <mat-form-field class="full-width">
        <input type="password"
          matInput
          name="Password"
          [formControl]="itemForm.controls['passwordwithoutencryption']"
          placeholder="Password"
          (ngModelChange)="validContrasenias()">
      </mat-form-field>
      <small *ngIf="!contrasenias_iguales && itemForm.controls['passwordwithoutencryption'].touched" 
      class="form-error-msg"> Las contraseñas no coinciden </small>
      <small  *ngIf="itemForm.controls['passwordwithoutencryption'].hasError('required') && itemForm.controls['passwordwithoutencryption'].touched" 
      class="form-error-msg"> La Contraseña es obligatorio </small>
    </div>
    <div fxFlex="50"  class="pr-16" >
      <mat-form-field class="full-width">
        <input type="password"
            matInput
            name="Confirmar Password"
            [formControl]="itemForm.controls['passwordconfirm']"
            placeholder="Confirmar Contraseña"
            (ngModelChange)="validContrasenias()">
        </mat-form-field>
        <small *ngIf="!contrasenias_iguales && itemForm.controls['passwordconfirm'].touched" 
        class="form-error-msg"> Las contraseñas no coinciden </small>
        <small *ngIf="itemForm.controls['passwordconfirm'].hasError('required') && itemForm.controls['passwordconfirm'].touched" 
        class="form-error-msg"> El Repetir Contraseña es obligatorio </small>
    </div>

    <div fxFlex="100" class="filter_reset filter__buttons mt-16">
      <button mat-raised-button class="dark-blue-400 dark-blue-400-fg mr-4" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <!-- <button mat-button class="dark-blue-100 dark-blue-100-fg ml-4" type="button" (click)="dialogRef.close(false)">Cancel</button> -->
      <button mat-button class="dark-blue-100 dark-blue-100-fg ml-4" type="button" [mat-dialog-close]="false">Cancelar</button>
    </div>
  </div>
</form>