<div class="content">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="header">
            <h1>SOLICITUD DE {{title | uppercase}}</h1>
        </div>
        <hr>
        <div class="personal">
            <h1 class="title">1. DATOS PERSONALES: </h1>
            <div class="personal__group">
                <div class="personal__group-input">
                    <label class="size-large">Código del Empleado: </label>
                    <span> {{ codeEmployee }} </span>
                </div>
                <div class="personal__group-input">
                    <label class="size-short">DNI N*: </label>
                    <span> {{dni }} </span>
                </div>
               
            </div>
            <div class="personal__group">
                <div class="personal__group-name">
                    <label >Nombres y Apellidos: </label>
                    <span> {{fullname }} </span>
                </div>
            </div>
            <div class="personal__group">
                <div class="personal__group-input">
                    <label class="size-large">Fecha de Ingreso: </label>
                    <span> {{ dateAdmission }} </span>
                </div>
                <div class="personal__group-input">
                    <label class="size-short">Área: </label>
                    <span> {{ area }} </span>
                </div>
            </div>
            <div class="personal__group">
                <div class="personal__group-name">
                    <label class="size-large">Cargo: </label>
                    <span> {{ charge }} </span>
                </div>
            </div>
        </div>
        <div class="motivo">
            <h1 class="title">2. SOLICITADO: </h1>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Fecha de Emisión</mat-label>
                    <input formControlName="dbroadcastdate" readonly matInput (dateChange)="validDateActual()"
                        [matDatepicker]="pickeremision">
                    <mat-datepicker-toggle matSuffix [for]="pickeremision" [disabled]="isEdit"></mat-datepicker-toggle>
                    <mat-datepicker #pickeremision></mat-datepicker>
                    <mat-error *ngIf="
                    form.controls.dbroadcastdate.touched &&
                    form.controls.dbroadcastdate.invalid
                                          ">
                        <span *ngIf="form.controls.dbroadcastdate.errors.required">Fecha Emisión es
                            <strong>requerido</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input formControlName="ddateinit" readonly matInput (dateChange)="validDateStart()"
                        [matDatepicker]="pickerinicio">
                    <mat-datepicker-toggle matSuffix [for]="pickerinicio" [disabled]="isEdit"></mat-datepicker-toggle>
                    <mat-datepicker #pickerinicio></mat-datepicker>
                    <mat-error *ngIf="
                    form.controls.ddateinit.touched &&
                    form.controls.ddateinit.invalid
                                          ">
                        <span *ngIf="form.controls.ddateinit.errors.required">Fecha Inicio es
                            <strong>requerido</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Fecha Fin</mat-label>
                    <input formControlName="ddateend" readonly matInput (dateChange)="validDateEnd()"
                        [matDatepicker]="pickerfin">
                    <mat-datepicker-toggle matSuffix [for]="pickerfin" [disabled]="isEdit"></mat-datepicker-toggle>
                    <mat-datepicker #pickerfin></mat-datepicker>
                    <mat-error *ngIf="
                    form.controls.ddateend.touched &&
                    form.controls.ddateend.invalid
                                          ">
                        <span *ngIf="form.controls.ddateend.errors.required">Fecha Fin es
                            <strong>requerido</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Diagnóstico</mat-label>
                    <textarea [readonly]="isEdit" formControlName="sdiagnosis" matInput></textarea>
                    <mat-error *ngIf="
                    form.controls.sdiagnosis.touched &&
                    form.controls.sdiagnosis.invalid
                                          ">
                        <span *ngIf="form.controls.sdiagnosis.errors.required">Diagnóstico es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.sdiagnosis.errors.pattern">Solo se debe
                            de
                            ingresar <strong>letras</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>RUC de la clínica</mat-label>
                    <input matInput type="text" name="sclinicruc" formControlName="sclinicruc" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.sclinicruc.touched &&
                    form.controls.sclinicruc.invalid
                                          ">
                        <span *ngIf="form.controls.sclinicruc.errors.required">Ruc es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.sclinicruc.errors.pattern">Ruc solo permite
                            <strong>numeros</strong>
                        </span>
                        <span *ngIf="form.controls.sclinicruc.errors.minlength && !form.controls.sclinicruc.errors.pattern">Minimo son 11 <strong>numeros</strong>
                        </span>
                        <span *ngIf="form.controls.sclinicruc.errors.maxlength && !form.controls.sclinicruc.errors.pattern">Maximo son 11 <strong>numeros</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Colegiatura del médico</mat-label>
                    <input matInput name="tutiondoctor" formControlName="tutiondoctor" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.tutiondoctor.touched &&
                    form.controls.tutiondoctor.invalid
                                          ">
                        <span *ngIf="form.controls.tutiondoctor.errors.required">Colegiatura es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.tutiondoctor.errors.pattern">Solo se debe
                            de
                            ingresar <strong>letras</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Origen del descanso</mat-label>
                    <input matInput formControlName="originmedical" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.originmedical.touched &&
                    form.controls.originmedical.invalid
                                          ">
                        <span *ngIf="form.controls.originmedical.errors.required">Origen es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.originmedical.errors.pattern">Solo se debe
                            de
                            ingresar <strong>letras</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Tipo de descanso</mat-label>
                    <input matInput formControlName="typemedical" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.typemedical.touched &&
                    form.controls.typemedical.invalid
                                          ">
                        <span *ngIf="form.controls.typemedical.errors.required">Tipo de Descanso es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.typemedical.errors.pattern">Solo se debe
                            de
                            ingresar <strong>letras</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Compromiso de Entrega</mat-label>
                    <input matInput formControlName="sdeliverycommitment" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.sdeliverycommitment.touched &&
                    form.controls.sdeliverycommitment.invalid
                                          ">
                        <span *ngIf="form.controls.sdeliverycommitment.errors.required">Compromiso es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.sdeliverycommitment.errors.pattern">Solo se debe
                            de
                            ingresar <strong>letras</strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="motivo__amount">
                <mat-form-field class="full-width">
                    <mat-label>Correo de RRHH - Bienestar social</mat-label>
                    <input matInput formControlName="semailsocialwelfare" [readonly]="isEdit">
                    <mat-error *ngIf="
                    form.controls.semailsocialwelfare.touched &&
                    form.controls.semailsocialwelfare.invalid
                                          ">
                        <span *ngIf="form.controls.semailsocialwelfare.errors.required">Correo es
                            <strong>requerido</strong>
                        </span>
                        <span *ngIf="form.controls.semailsocialwelfare.errors.email">Correo debe de tener un formato
                            valido
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="adjunto">
            <mat-label>Adjuntar Foto</mat-label>
            <hr style="width: 100%;">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div *ngIf="!isEdit" class="file-upload">

                {{fileName || "Ningun archivo cargado"}}

                <button *ngIf="!isEdit" style="margin-left: 5px;" mat-mini-fab type="button" class="upload-btn"
                    (click)="fileUpload.click()">
                    <mat-icon style="color: white;">attach_file</mat-icon>
                </button>
            </div>
            <div class="button_download" *ngIf="isEdit" >
                <p>{{ nameFile }}</p>
                <button style="margin-left: 10px;" mat-mini-fab (click)="ViewAdjunto()"  class="upload-btn"
                >
                    <mat-icon style="color: white;">get_app</mat-icon>
                </button>
            </div>
        </div>

        <app-staff-request-approver *ngIf="isEdit" style="width: 95%;"></app-staff-request-approver>

        <div class="footer">
            <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
            <button *ngIf="!isEdit" mat-raised-button class="dark-blue-400 dark-blue-400-fg"
                type="submit">Guardar</button>
            <button *ngIf="isEdit && isAceept" mat-raised-button style="background-color: #cddcea;color:#343a67;"
                type="button" (click)="accept()">Aceptar</button>
            <button *ngIf="isEdit && isAceept" type="button" mat-raised-button
                style="background-color: #f44336; color: white;" (click)="reject()"> Rechazar</button>
        </div>
    </form>

</div>