.content {
    padding: 8px 15px 8px 15px;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F66A8;
}

.group {
    margin-top: 10px;

    &__sub {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.document {
    margin-top: 10px;

}

.validado {
    background-color: #93C777;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    display: inline-flex;
    margin-top: 10px;
}

.observado {
    background-color: #db0000;
    border-radius: 10%;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

.viva {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 15px;
    .viva-group {
        display: flex;
        flex-direction: column;
    }
    h3 {
        color: #4F66A8;
        font-weight: 600;

    }
}

.porvalidar {
    background-color: lightgray;
    border-radius: 10%;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

.semaforo {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    &__group {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: #4F66A8;
            font-size: 16px;
            font-weight: 600;
        }
        span {
            margin-bottom: 5px;
        }
        &__item {
            margin-top: 5px;
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }
}

#circulo1 {
    height: 40px;
    width: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: lightgrey;
}

#circulo2 {
    height: 40px;
    width: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: lightgrey;
}


#circulo3 {
    height: 40px;
    width: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: lightgrey;
}

.list-document {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.file-input {
    display: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;

    button {
        background-color: #4f66a8;
        color: #ffffff;
    }
}

.span-list{
    padding-top: 23px;
    padding-bottom: 15px;
}
.viva-input{
    display: flex; 
    gap: 20px; 
    align-items: center;
    .mat-form-field{
        width: 45%;
    }
    h3{
        min-width: 170px !important;
    }
}

@media screen and (max-width: 960px) {
    .content {
        padding: 7px;
    }

    .group {
        &__sub {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .semaforo {
        display: flex;
        flex-direction: column;
    }

    .viva {
        display: flex;
        flex-direction: column;
    }
    .span-detail{
        text-align: justify;
        display: block;
        padding-right: 15px;
    }
}

@media screen and (max-width:420px) {
    .list-document{
        display: block !important;
        margin-bottom: 10px;
    }
    .footer{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
    .span-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .viva-input{
        display: block !important;
        .mat-form-field{
            width: 100% !important;
        }
    }
}
.textobservado{
    color: red;
}