<p>
<div class="content__tables">
    <div class="content_table_lang">
        <p-table  mat-table [value]="infolang" dataKey="id" editMode="row" responsiveLayout="scroll"  class="tblResponsive">
            <ng-template pTemplate="header">                
                <tr>
                    <th class="mat-header-cell-x" style="text-align:center;min-width: 200px !important;" *ngIf="!isReadOnly">Acción</th>
                    <th class="mat-header-cell-x"  style="text-align:center;min-width: 200px !important;">Idioma</th>
                    <th class="mat-header-cell-x"  style="text-align:center;min-width: 200px !important;">Nivel conversación</th>
                    <th class="mat-header-cell-x"  style="text-align:center;min-width: 200px !important;">Nivel escritura</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing" let-index="rowIndex">
                <tr [pEditableRow]="item"> 
                    <td style="text-align:center;" *ngIf="!isReadOnly">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                            (click)="onRowEditInitLang(item)" class="editar p-button-text">
                            <svg fill="orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/></svg>
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSaveLang(item)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancelLang(item, index)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                            (click)="deleteRowLang(index)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>   
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <mat-select [(ngModel)]="item.idLanguage">
                                    <mat-option  *ngFor="let item of languageslist" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <mat-select [(ngModel)]="item.idLanguage" disabled>
                                    <mat-option  *ngFor="let item of languageslist" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                        </p-cellEditor>

                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <mat-select [(ngModel)]="item.idOralLevel">
                                    <mat-option *ngFor="let item of niveles" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <mat-select [(ngModel)]="item.idOralLevel" disabled>
                                    <mat-option  *ngFor="let item of niveles" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                                
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            
                            <ng-template pTemplate="input">
                                <mat-select [(ngModel)]="item.idWrittenLevel">
                                    <mat-option *ngFor="let item of niveles" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <mat-select [(ngModel)]="item.idWrittenLevel" disabled>
                                    <mat-option  *ngFor="let item of niveles" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <button mat-raised-button color="primary" style="margin-top: 15px;" (click)="addRowLang()" type="button" *ngIf="!isReadOnly">
            <i class="pi pi-plus-circle" style="padding-bottom: 3px !important;"></i>&nbsp;&nbsp;Agregar </button>
    </div>
   <br>
    <div class="content_table_skills">
        <p-table [value]="infoskills" dataKey="id" editMode="row" responsiveLayout="scroll" class="tblResponsive">
            <ng-template pTemplate="header">                
                <tr>
                    <th class="mat-header-cell-x" style="text-align: center;min-width: 200px !important;" *ngIf="!isReadOnly">Acción</th>
                    <th class="mat-header-cell-x" style="text-align: center;min-width: 200px !important;">Computación - Software</th>
                    <th class="mat-header-cell-x" style="text-align: center;min-width: 200px !important;">Nivel</th>
                </tr>              
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing" let-index="rowIndex">
                <tr [pEditableRow]="item">
                    <td style="text-align:center;min-height: 30px;" *ngIf="!isReadOnly">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                            (click)="onRowEditInitSkill(item)" class="editar p-button-text">
                            <svg fill="orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/></svg>
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSaveSkills(item)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancelSkill(item, index)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                            (click)="deleteRowSkills(index)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                    <td style="min-height: 30px; text-align: center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText style="font-family: Nunito;font-size: 14px; width: 250px !important;" type="text" [(ngModel)]="item.software" placeholder="Software">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText style="font-family: Nunito;font-size: 14px; width: 250px !important;" disabled type="text" [(ngModel)]="item.software" placeholder="Software">
                            </ng-template>
                        </p-cellEditor>

                    </td>
                    <td style="min-height: 30px; text-align: center">
                        <p-cellEditor>                            
                            <ng-template pTemplate="input">
                                <mat-select [(ngModel)]="item.idLevel" style="width: 250px !important;">
                                    <mat-option   [value]=0>--SELECCIONAR--</mat-option>
                                    <mat-option *ngFor="let item of nivelesComputacion" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <mat-select [(ngModel)]="item.idLevel" disabled style="width: 250px !important;">
                                    <mat-option   [value]= 0>--SELECCIONAR--</mat-option>
                                    <mat-option  *ngFor="let item of nivelesComputacion" [value]="item.id">{{item.descriptionValue}}</mat-option>
                                </mat-select>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <button mat-raised-button color="primary" style="margin-top: 15px;" (click)="addRowSkills()" type="button" *ngIf="!isReadOnly">
            <i class="pi pi-plus-circle" style="padding-bottom: 3px !important;"></i>&nbsp;&nbsp;Agregar</button>
    </div>
</div>