.header {
    h1 {
        text-align: center;
        color: #4f66a8;
        font-weight: 600;
    }
}

.select {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    button {
        background-color: #4f66a8;
        color: #ffffff;
    }
}

@media screen and (max-width: 420px) {
    .footer{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
    h1{
        font-size: 18px !important;
    }
}