.addrow {
    text-align: left !important;
    color: #ffffff !important;
    padding: 10px 0px !important;
}

th {
    background: #f1f1f1 !important;
    font-size: 14px;
    text-align: center !important;
    padding: 0.5rem 1rem !important;
}

td {
  font-size: 12px;
  padding: 0rem 1rem 0rem 1rem !important;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2.5rem !important;
}

input {
  width: 250px !important;
  font-size: 12px;
}

.editar {
  width: 25px;
  height: 30px;
  padding: 8px 0px 0px 0px !important;
}
    
.editar svg {
  width: 20px;
  height: 20px;
}

.p-button {
  background: transparent !important;
  border: none !important;
}

.center-button {
  margin: auto !important;
}

.center-botones {
  display: flex !important;
  justify-content: center !important;
}

@media screen and (max-width:500px) {
  .addrow button{
    width:100% !important;
  }
  input{
    width:150px !important;
    height: 100px !important;
  }
  .editar {
    width: 25px;
    height: 30px;
    padding: 0px 0px 0px 0px !important;
  }
}

@media screen and (max-width:960px) {
  .cellResponsive{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}