<div class="container">

    <div class="header">
        <h1><strong>Mis Solicitudes</strong></h1>
        <hr style="width: 100%;">
    </div>

    <div class="collaborator">
        <h1>Colaborador: <strong>{{ collaborators }}</strong></h1>
    </div>

    <mat-card class="p-0">
        <mat-card-content class="p-0">
            <table mat-table [dataSource]="requestDT" matSort class="w-100">
                <ng-container matColumnDef="option" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opción</th>
                    <td mat-cell *matCellDef="let row" class="has_label_on_mobile opcion" data-label="Opción: ">
                        <button   mat-button (click)="showDetail(row.nid_request, row.nid_typerequest, row.nstate, row.nid_collaborator)">
                            <mat-icon color="accent">touch_app</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Solicitud</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label="Fecha de Solicitud : ">
                        {{ row.dregister | date:'dd/MM/YYYY' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="styperequest">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Solicitud</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label="Tipo de Solicitud : ">
                        {{ row.styperequest }}
                    </td>
                </ng-container>    
                <ng-container matColumnDef="action">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label="Acción : ">
                        {{ row.stypeaction}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="section">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header>Sección</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label="Sección : ">
                        {{ row.ssection}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="sstate">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label="Estado : ">
                        <div class="tooltip" style="display: flex; justify-content: center;">
                            <img *ngIf="row.nstate === 2" src="../../../../../../assets/images/aprobado.png" width="28px" alt=""> 
                            <img *ngIf="row.nstate === 3" src="../../../../../../assets/images/rechazado.png" matTooltip="Ver motivo" width="28px" style="cursor: pointer;" (click)="showComment(row.scomment)"> 
                            <img *ngIf="row.nstate === 1" src="../../../../../../assets/images/interrogacion.png" width="28px" alt=""> 
                            &nbsp;&nbsp;
                            <p style="margin: 4px 0px 0px 0px; padding: 0px;">{{ row.sstate }}</p>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="6">
                        No se encontraron datos
                    </td>
                </tr>
            </table>
        </mat-card-content>
        <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->

        
        <div style="display: flex;
        justify-content: center;
        align-items: center;">
        
        <!-- <span>Regresar</span> -->
        <mat-paginator
        style-paginator
        showFirstLastButtons
        [showTotalPages]="3"
        (changedPageNumber)="changedPageNumber($event)"
        #paginator
        [pageIndex]="currentPage"
        [length]="cargoFilter.pagination.totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changedPageSize($event)">
        </mat-paginator>
        <!-- <span style="padding-left: 15px;">Avanzar</span> -->
        </div>





    </mat-card>

    <div class="footer">
        <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
    </div>
</div>
