.header {
    h1 {
        text-align: center;
        color: #4f66a8;
        font-weight: 600;
    }
}

.tamaño {
    width: 350px;
}

.personal {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #4f66a8;
    border-radius: 10px;

    .title {
        color: #4f66a8;
        font-size: 18px;
        font-weight: 600;
    }

    &__group {
        display: flex;
        gap: 10px;
        width: 100%;
        margin-bottom: 10px;

        &-input {
            display: flex;
            gap: 10px;
            width: 50%;

            label {
                font-weight: 600;
                text-align: start;
            }

            span {
                text-align: start;
            }
        }

        &-name {
            display: flex;
            width: 90%;
            gap: 10px;

            label {
                font-weight: 600;
                text-align: start;
                width: 150px;
            }

            span {
                text-align: start;
            }
        }
    }
}

.size-large {
    width: 150px;
}

.size-short {
    width: 50px;
}

.footer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;

    button {
        background-color: #4f66a8;
        color: #ffffff;
    }
}

.motivo {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #4f66a8;
    border-radius: 10px;

    .title {
        color: #4f66a8;
        font-size: 18px;
        font-weight: 600;
    }

    &__amount {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
 
    }

    &__type {
        display: flex;
        flex-direction: row;
        gap: 10px;

        mat-radio-group {
            margin-left: 10px;
        }
    }
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

@media screen and (max-width: 960px) {
    .personal {
        &__group {
            display: flex;
            flex-direction: column;

            &-input {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &-name {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .tamaño {
        width: 100%;
    }

    .motivo {
        &__type {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        &__amount {
            display: flex;
            flex-direction: column;

            label {
                width: 100%;
                justify-content: start;
                text-align: start;
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .footer{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
    h1{
        font-size: 18px !important;
    }
    .mat-radio-button{
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
    }
    .mat-radio-group{
        display: contents;
    }
}