.title-modal {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #6c7eb4;
    margin-bottom: 10px;
  }

  .content__header {
      width: 100%;
      margin-top: 3%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .content__file {
      width: 100%;
      margin-top: 3%;
  }

  .file_input {
    background: #dfdfdf;
    width: 100%;
    padding: 30px;
    cursor: pointer;
  }

  .adjunto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .adjunto span {
    font-size: 15px;
  }
  
  .acciones-file {
    margin-top: 10px;
    display: flex;
  }

  .button_load {
      width: 100%;
      margin-top: 3%;
  }

  .button_load button {
      display: block;
      margin: 0 auto;
  }


  .content__postulants {
      margin-top: 3%;
  }